.trelloCloneBoardsHeading {
  cursor: pointer;
  cursor: hand;
  background-color: #BCE8F1 !important;
}

.trelloCloneBoardsBody {
  min-height: 60px;
}

.trelloCloneBoardsBody:hover {
  cursor: pointer;
  cursor: hand;
}

.trelloCloneBoardsCreateHeading {
  cursor: pointer;
  cursor: hand;
  background-color: lightgrey !important;
}

.trelloCloneBoardsCreate:hover {
  background-color: darkgrey;
}
