.trelloCloneBoard {
  border: 1px;
  border-radius: 5px;
  background-color: dodgerblue;
  width: 250px;
  height: 80px;
  padding: 10px;
  padding-top: 5px;
  margin: 10px;
}

.trelloCloneBoard:hover {
  background-color: #005B8F;
}

.trelloCloneBoardTitle {
  color: white;
}
