.navbar {
  background-image: none;
  background-color: dodgerblue;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.navbar-brand {
  float: none;
}

.trelloCloneIcon {
  color: lightblue;
}

.trelloCloneIcon:hover {
  color: white;
}

.body {
  background-color: dodgerblue;
}
