<h4><strong>{{board.name}}</strong></h4>

<table st-table="boardListCollection" st-safe-src="boardLists" class="table table-striped">
  <tbody>
  <div ng-repeat="boardList in boardListCollection" class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i ng-click="deleteBoardList(boardList.boardListId)" class="fa fa-trash" aria-hidden="true" style="float: right"></i>
        <h5><strong>{{boardList.name}}</strong></h5>
      </div>
    </div>
  </div>
  </tbody>
</table>

<div>
  <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-create-list-modal-sm">Create List
  </button>
</div>

<div class="modal fade bs-create-list-modal-sm" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="padding: 5px">
      <!-- FORM -->
      <form ng-submit="createBoardList()">
        <!-- NAME -->
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control" placeholder="List name.."
                 ng-model="newBoardList.name"
                 required>
          <span class="help-block"></span>
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-success btn-block">
          Create
        </button>

        <!--<br/>-->

        <!--<textarea style="height:125px; resize: none;" cols="30" rows="10" name="description"-->
        <!--class="form-control">{{ newBoardList }}</textarea>-->
      </form>
    </div>
  </div>
</div>
