<div class="row" ng-cloak>
  <div class="col-md-12" ng-if="boards.length>=0">
    <div class="row">

      <div class="col-md-12">
        <h4><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<strong>Personal Boards</strong></h4>
      </div>


      <div ng-repeat="board in boards" class="col-md-3">
        <i class="fa fa-trash fa-1x" ng-click="deleteBoard(board.boardId)" style="color:red; float:right"></i>
        <a ng-href="#/board/{{board.boardId}}" style="text-decoration: none">
          <div class="trelloCloneBoards">
            <h4 class="trelloCloneBoardsTitle">
              <strong>{{board.name}}</strong>
            </h4>
          </div>
        </a>
      </div>

      <a data-toggle="modal" data-target=".bs-create-board-modal-sm">
        <div class="col-md-3 trelloCloneBoardsCreate">
          <span>Create new board...</span>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="modal fade bs-create-board-modal-sm" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="padding: 5px">
      <!-- FORM -->
      <form ng-submit="createBoard()">
        <!-- NAME -->
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control" placeholder="Board name.."
                 ng-model="newBoard.name"
                 required>
          <span class="help-block"></span>
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-success btn-block">
          Create
        </button>

        <!--<br/>-->

        <!--<textarea style="height:125px; resize: none;" cols="30" rows="10" name="description"-->
        <!--class="form-control">{{ newBoard }}</textarea>-->
      </form>
    </div>
  </div>
</div>
