<h4><strong>{{board.name}}</strong></h4>

<div class="boardList row">
  <div class="col-md-12">
    <div class="row">
      <div ng-repeat="(listId, list) in boardLists.lists" class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading"><i ng-click="deleteBoardList(listId)" class="fa fa-trash" aria-hidden="true"
                                        style="float: right"></i>
            <h3 class="panel-title">{{list.details.name}}</h3>
          </div>
          <div class="panel-body">
            <ul dnd-list="list.cards">
              <li ng-repeat="card in list.cards"
                  dnd-draggable="card"
                  dnd-moved="list.cards.splice($index, 1);updateLists()"
                  dnd-effect-allowed="move"
                  dnd-selected="boardLists.selected = card"
              >

                <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
                  <a ng-click="$ctrl.open(card, list.details)">
                    {{card.name}}
                  </a>
                  <i ng-click="deleteCard(card.cardId)" class="fa fa-trash" style="float:right"
                     aria-hidden="true"></i>
                </div>
              </li>
            </ul>


            <div class="panel-footer addCard">
              <form ng-submit="addCard(listId, newCard); newCard=null">
                <!-- NAME -->
                <div class="form-group">
                  <input type="text" name="name" class="form-control" ng-model="newCard.name" required>
                  <span class="help-block"></span>
                </div>

                <button type="submit" class="btn btn-success">Add Card</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-create-list-modal-sm">Create List
  </button>
</div>

<div class="modal fade bs-create-list-modal-sm" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="padding: 5px">
      <!-- FORM -->
      <form ng-submit="createBoardList()">
        <!-- NAME -->
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control" placeholder="List name.."
                 - ng-model="newBoardList.name"
                 - required>
          <span class="help-block"></span>
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-success btn-block">
          Create
        </button>
        <!--<br/>-->
        <!--<textarea style="height:125px; resize: none;" cols="30" rows="10" name="description"-->
        <!--class="form-control">{{ newBoardList }}</textarea>-->
      </form>
    </div>
  </div>
</div>

<script type="text/ng-template" id="cardContent.html">
  <div class="modal-header">
    <i ng-click="$ctrl.cancel()" class="fa fa-times fa-2x" style="float: right; color: gray" aria-hidden="true"></i>
    <h4 class="modal-title" id="modal-title">{{$ctrl.card.name}}</h4>
    in List <strong>{{$ctrl.list.name}}</strong>
  </div>
  <div class="modal-body" id="modal-body">
    <div>
      An awesome card description.
      <!--{{$ctrl.card.description}}-->
    </div>
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>-->
    <!--<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>-->
  </div>
</script>
