<div class="row" ng-cloak>

  <div class="col-md-12" ng-if="boards.length>=0">
    <div class="col-md-12">
      <h4><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<strong>Personal Boards</strong></h4>
    </div>

    <div class="col-md-12">
      <div class="col-md-3" ng-repeat="board in boards">
        <div class="panel panel-default">
          <div class="panel-heading trelloCloneBoardsHeading">
            <!--<strong>{{board.name}}{{board.name}}</strong>-->

            <a ng-href="#/board/{{board.boardId}}" style="text-decoration: none"><span class="panel-title">{{board.name}}
              </span></a>

            <i class="fa fa-trash" ng-click="deleteBoard(board.boardId)" style="color:red; float:right"></i>
          </div>
          <a ng-href="#/board/{{board.boardId}}" style="text-decoration: none">
            <div class="trelloCloneBoardsBody panel-body">
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading trelloCloneBoardsCreateHeading">
            <a data-toggle="modal" data-target=".bs-create-board-modal-sm" style="text-decoration: none"><span
              class="panel-title">Create a board...
              </span></a>
          </div>
          <a data-toggle="modal" data-target=".bs-create-board-modal-sm" style="text-decoration: none">
            <div class="trelloCloneBoardsBody panel-body">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-create-board-modal-sm" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="padding: 5px">
      <!-- FORM -->
      <form ng-submit="createBoard()">
        <!-- NAME -->
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control" placeholder="Board name.."
                 ng-model="newBoard.name"
                 required>
          <span class="help-block"></span>
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-success btn-block">
          Create
        </button>
      </form>
    </div>
  </div>
</div>

